crewai
crewai-tools
langchain-google-community
langchain-text-splitters
langchain-openai
langchain-community
langchain-tools
langchain-google-genai
langchain-pinecone
python-dotenv
fastapi
PyMySQL
celery
redis
asyncpg
nltk
pymongo